.about_header {
    background-image: url('../assests/banner.d27d94d3b18765a0d795.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f1f3fb;
    font-family: "League Spartan", sans-serif;
}

.about_section h4 {
    font-family: "League Spartan", sans-serif;
}

.about_section p {
    font-family: "League Spartan", sans-serif;
    font-size: 1.2rem;
}

.about_section span {
    border-bottom: 1px dotted black;
    font-family: "League Spartan", sans-serif;
    font-size: 1.2rem;
}

.about_section marquee {
    background-color: rgb(206, 206, 206);
}